@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/vcr-osd-mono');
@font-face {
    font-family: 'Mouse';
    src:
        url('assets/fonts/mouse.eot?') format('eot'),
        url('assets/fonts/mouse.woff') format('woff'),
        url('assets/fonts/mouse.ttf') format('truetype'),
        url('assets/fonts/mouse.svg#Mouse') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'vcr';
    src:
        url('assets/fonts/vcr_osd_mono_1.001-webfont.woff2') format('woff2'),
        url('assets/fonts/vcr_osd_mono_1.001-webfont.woff') format('woff'),
        url('assets/fonts/VCR_OSD_MONO_1.001.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Dynamic';
    src:
        url('assets/fonts/DynamicSchematicRegular.ttf') format('woff2'),
        url('assets/fonts/DynamicSchematicRegular.otf') format('oft'),
        url('assets/fonts/DynamicSchematicRegular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
    --purple: #9b5de5;
    --lilac: #b0b5ed;
    --dark-purple: #8a41e1;
    --neon-purple: #747bff;
    --cyan: #00f5d4;
    --pink: #f15bb5;
    --pastel-pink: #fce6f3;
    --pastel-cyan: #d7fef9;
    /* --pastel-purple: #e5d6f8; */
    --pastel-purple: #e1d3f8;
    --pastel-blue: #d7f5ff;
    --pastel-green: #d5f0c1;
    --yellow: #fee440;
    --light-yellow: rgb(255, 255, 73);
    --blue: #00bbf9;
    /*    The dark blue is hella out of place      */
    --dark-blue: #242652;
    --cream: #fff0dc;
    --dark-cream: #ffdbac;

    --lime-green: #aaff75;
    --lime-red: #ff5f63;
    --red: #ff073a;

    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
:root .light {
    --svelvet-bg: white;

    --background-color: var(--svelvet-bg);

    /* background-color: var(--pastel-pink); */

    /* Wow that stuff makes the font look SUPER nice */
}
:root .dark {
    --svelvet-bg: hsl(225, 20%, 40%);
    --app-bg: #747bff;

    --background-color: var(--svelvet-bg);

    /* background-color: var(--pastel-pink); */

    /* Wow that stuff makes the font look SUPER nice */
}

:root[svelvet-theme='LogiCap'] {
    --text-color: hsl(0, 0%, 100%);

    --dot-color: black;

    /* --accent-color: hsl(45, 90%, 60%);
    --primary-color: hsl(225, 30%, 66%); */

    --edge-color: black;
    /* --target-edge-color: hsl(225, 20%, 40%); */

    --anchor-color: hsl(45, 90%, 67%);
    --anchor-border-color: hsl(45, 90%, 87%);
    --anchor-connected: hsl(45, 90%, 100%);
    --anchor-connected-border: hsl(225, 20%, 20%);

    --anchor-hovering: hsl(225, 20%, 46%);
    --anchor-hovering-border: hsl(0, 0%, 0%);

    /* --minimap-background-color: hsl(225, 90%, 84%); */
    /*   FEATURE: Different nodes should be different colors in the menu and in the map.   */
    --minimap-node-color: hsl(0, 0%, 0%);
    --minimap-background-color: lightblue;

    --controls-background-color: lightblue;
    --controls-text-color: hsl(0, 0%, 0%);

    --theme-toggle-text-color: hsl(0, 0%, 100%);
    --theme-toggle-color: hsl(225, 20%, 27%);
}

* *,
*::before,
*::after {
    /* changes how the width and height of elements are calculated to include padding and border within the total height */
    box-sizing: border-box;
}

* {
    /*  Enhances the readability of text on the page by optimizing the kerning (space between letters)  */
    font-family: 'Dynamic';
    margin: 0;
    padding: 0;
    /* font: inherit; */

    /* make the font look nice */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: greyscale;
    font-kerning: auto;
}

button {
    /* font-family: 'Montserrat'; */
    font-weight: bold;
}
html {
    /* By using `100%` for this property, it prevents mobile browsers from automatically resizing font sizes, maintaining consistency across different devices. */
    -webkit-text-size-adjust: 100%;
}

/* removes default margin around the body element */

body {
    min-height: 100svh;
    /* display: flex; */
    overflow: hidden;
}
body.light {
    /* background-color: var(--pastel-blue); */

    /* 
      small viewport height (svh),
      height of the viewport excluding the mobile default browser address bar.
      ensure the element always fills the visible portion of the screen,
    */
    background-color: lightblue;
}
body.dark {
    background-color: #747bff !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/* We wont have too many paragraphs in this project */
p {
    /* The 'ch' unit represents the width of the '0' character as rendered in the document's current font.
     * It is useful for defining lengths in typography as it scales with font size and style. */
    max-width: 75ch;
    /* prevents typography orphans */
    text-wrap: pretty;
}

/* 
This CSS rule applies to img, picture, svg, and video elements. 
- display: block; makes these elements behave like block-level elements, which means they start on a new line and take up the full width available.
- max-width: 100%; ensures that these elements do not exceed the width of their container, helping to maintain responsive design by scaling down the element in smaller viewports.
*/
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
    text-align: center;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@media (prefers-color-scheme: light) {
    a:hover {
        color: #747bff;
    }
}

@media (prefers-reduced-motion: no-preference) {
    :has(:target) {
        scroll-behavior: smooth; /* Enables smooth scrolling when the user has not specified a preference for reduced motion in their system settings */
        /* Padding for navigation to Links that include a element ID ex href="/page/#title0" */
        scroll-padding-top: 3rem;
    }
}
