:root[svelvet-theme='LogiCap'] {
    --node-color: hsl(225, 30%, 50%);
    --node-border-color: hsl(225, 20%, 40%);
    --node-selection-color: hsl(45, 90%, 60%);
    --text-color: hsl(0, 0%, 100%);

    --background-color: hsl(225, 20%, 27%);
    --dot-color: hsl(225, 10%, 50%);

    --accent-color: hsl(45, 90%, 60%);
    --primary-color: hsl(225, 30%, 66%);

    --edge-color: hsl(0, 0%, 100%);
    --target-edge-color: hsl(225, 20%, 40%);

    --anchor-color: hsl(45, 90%, 67%);
    --anchor-border-color: hsl(45, 90%, 87%);
    --anchor-connected: hsl(45, 90%, 100%);
    --anchor-connected-border: hsl(225, 20%, 20%);

    --anchor-connecting: hsl(225, 30%, 40%);
    --anchor-connecting-border: hsl(0, 0%, 100%);

    --anchor-hovering: hsl(225, 20%, 46%);
    --anchor-hovering-border: hsl(0, 0%, 0%);

    --minimap-background-color: hsl(225, 20%, 27%);

    --minimap-node-color: hsl(225, 30%, 20%);

    --controls-background-color: hsl(225, 20%, 27%);
    --controls-text-color: hsl(0, 0%, 100%);

    --theme-toggle-text-color: hsl(0, 0%, 100%);
    --theme-toggle-color: hsl(225, 20%, 27%);
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-width: 320px;
    min-height: 100vh;
}


a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}


h1 {
    font-size: 3.2em;
    line-height: 1.1;
    text-align: center;
}


#graph {
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
}

